{% extends 'base.html' %}

{% block content %}
<h2>Your Service Requests</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Status</th>
            <th>Submitted On</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.request_type }}</td>
            <td>{{ request.get_status_display }}</td>
            <td>{{ request.created_at }}</td>
            <td>{{ request.updated_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
